<div class="media">
        <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
        </div>
        <div class="media__body">
            <h3 class="media__title">Easier Start and Managed updates</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias dicta dolorem, porro nihil vero in consequuntur voluptate autem error natus!
            </p>
        </div>
    </div>